.wrapperListTask {
    width  : 100%;
    height : 100%;
    display: flex;

    .wrapperShare {
        padding: 10px;
        height : inherit;
    }

    .leftPanel {
        width       : 20%;
        border-right: 1px solid gray;
    }

    .content {
        flex  : 1;
        height: 100%;
    }

    .raghtPanel {
        width      : 20%;
        border-left: 1px solid gray;

    }
}